html {
    font-size: 16px;
    color: #2c2925;
    background: #fffbed;
    width: 100%;
}
h1 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-stretch: 125%;
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: -0.1rem;
}
.grid-container-10 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(16, 1fr);
    grid-template-areas: '. . col col col col col col col col col col . . . .';
}
.grid {
    grid-area: col;
}
.home-hero {
    margin: 0 auto;
    padding: 8.5rem 1.5rem 0 1.5rem;
}
@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 960px) {
    .grid-container-10 {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(16, 1fr);
        grid-template-areas: '. col col col col col col col col col col col col col col .';
    }
}

@media only screen and (max-width: 768px) {
    .grid-container-10 {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(16, 1fr);
        grid-template-areas: 'col col col col col col col col col col col col col col col col';
    }
}
@media only screen and (max-width: 600px) {
    .home-hero {
        padding: 7.5rem 1.5rem 0 1.5rem;
    }
}

/********** NEW **********/

.hero-container {
    display: grid;
    grid-auto-columns: 5fr;
    grid-auto-rows: 1fr;
    gap: 0;
    grid-template-areas:
    "the the shape-1 shape-2 shape-3"
    "shape-4 next next next shape-5"
    "shape-6 shape-7 shape-8 act act"
    "bsap bsap bsap . .";
}
.shape{
    transform-origin: center;
    animation: shaperotate 4000ms infinite;
    animation-timing-function: cubic-bezier(0.75,0,0,1);
}
.s1{
    animation-delay: 1000ms;
}
.s2{
    animation-delay: 2000ms;
}
.s3{
    animation-delay: 1333ms;
}
.s4{
    animation-delay: 333ms;
}
.s5{
    animation-delay: 1667ms;
}
.s6{
    animation-delay: 667ms;
}
.s7{
    animation-delay: 2333ms;
}
.s8{
    animation-delay: 0;
}
@keyframes shaperotate {
    0% {transform: rotate(0deg);}
    33% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);}
}

@media only screen and (max-width: 600px) {
    .home-hero {
        padding: 7.5rem 1.5rem 0 1.5rem;
    }
    .hero-container {
        grid-auto-columns: 3fr;
        grid-template-areas: 
        "the the shape-1" 
        "shape-2 shape-3 shape-4"
        "next next next"
        "shape-5 shape-6 shape-7"
        "shape-8 act act"
        "bsap bsap bsap";
    }
}